body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden
}

header {
    width: 100%;
    padding: 3em;
}

h1{
    margin:0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
    margin: 1em auto;
}

main{
    width: 80vw;
    margin: 0 auto;
    align-self: center;
    display: grid;
}

.board {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15, 1fr);
    background-color: rgb(13, 49, 45);
    padding: 1em;
    gap: 1em;
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    border-radius: 16%;
}

.colour0 {
    background-color: red;
}

.colour1 {
    background-color: orange;
}

.colour2 {
    background-color: rgb(255, 230, 0);
}

.colour3 {
    background-color: rgb(45, 77, 255);
}

.colour4 {
    background-color: green;
}

.middle{
    outline: solid 10px white;
}

.star{
    border: solid 10px black;
}