body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden
}

header {
    width: 100%;
    padding: 3em;
}

h1{
    margin:0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
    margin: 1em 1em;
}

main{
    width: 80vw;
    margin: 0 auto;
    align-self: center;
    display: grid;
}

.outerBoard {
    display: grid;
    width: 100%;
    background-color: rgb(13, 49, 45);
    grid-auto-flow: column dense;
    grid-template: 
        "columnNames" 1fr
        "innerBoard" 1fr
        "columnValues" 1fr
        "jokers" 1fr
}

.innerBoard {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15, 1fr);
    padding: 1em;
    margin-bottom: 1em;
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    border-radius: 16%;
    margin: 6%;
}

.outerSquare {
    margin: -1%;
    background-color: white;
    border-radius: 16%;
}

.colour0 {
    background-color: rgb(252, 20, 70);
}

.colour1 {
    background-color: rgb(228, 133, 0);
}

.colour2 {
    background-color: rgb(280, 217, 2);
}

.colour3 {
    background-color: rgb(45, 77, 255);
}

.colour4 {
    background-color: green;
}

.square-neutral {
    background-color: white;
}

.bgimg {
    margin: auto;
    width: 90%;
}

.circle {
    opacity: 0.5;
}

.button-menu {
    display: flex;
    justify-content: center;
}

.surroundingRow {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}